.form-type-radio {float: left !important; margin-left:10px; }
.form-item  input[type="radio"] {margin:0 !important;}
.app-regs-gender{ font-size:15px !important;}
/*#edit-notice-search{width:90%;}*/
.sky-form .input{font-size: 16px !important; margin-top:10px;}
.app-regs-gender {font-size: 15px !important;}
.statistics_box {margin-top: 50px;float: left;width: 100%;}
.search-btm{ margin-top:31px;}	
